
<div id="ticker-container">
<div class="moving-container">
	{{#if no-urgent-news}}
		{{#each items as |artist|}}
			<div class="ticker">		
				{{#link-to 'program.artist' artist}}
					|      {{artist.title}}
				{{/link-to}}
			</div>
		{{/each}}
	{{else}}
		
		<div class="ticker">		
				{{items}}  | 
		</div>
		<div class="ticker">		
				{{items}}  | 
		</div>
		<div class="ticker">		
				{{items}}  | 
		</div>
		<div class="ticker">		
				{{items}}  | 
		</div>
	{{/if}}
</div>
</div>




{{yield}}





