
<div id="ticker-container">
<div class="moving-container">
	{{#if no-urgent-news}}
		{{#each items as |artist|}}
			<div class="ticker">		
				{{#link-to 'news.post' artist}}
					     {{{artist.title}}}
				{{/link-to}}
			</div>
		{{/each}}
	{{else}}
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>

		<div class="ticker">
			{{#link-to 'news' artist}}
					{{{items}}}
			{{/link-to}}		
		</div>
		



	{{/if}}
</div>
</div>




{{yield}}





