//- Mixin that takes care of 'is-active' class
mixin menu-item(url, title, classnames)
	li(class='#{classnames}')
		a(href=url, class=active == title ? 'is-active' : '')= title

ul(class=active == 'Index' ? 'is-hidden' : '').Navigation.Navigation--primary
	//+menu-item('/', 'Forside', 'link-Index')
	+menu-item('nyheder.html', 'Nyheder', 'link-News')
	+menu-item('musik.html', 'Musik', 'link-Music')
	+menu-item('billetter.html', 'Billetter', 'link-Tickets')
	+menu-item('frivillig.html', 'Frivillig', 'link-Volunteer')
	+menu-item('gallery.html', 'Galleri', 'link-Gallery')
	+menu-item('praktisk.html', 'Praktisk', 'link-Practical')
	+menu-item('om-alive.html', 'Om Alive', 'link-About')
	li.LinkHistory
		a(href='historie.html', class=active == 'Historie' ? 'is-active' : '') Historie
		ul.Navigation.Navigation--history.Dropdown
		//-	ul.Navigation.Navigation--history.Dropdown
			li: a(href='/', class=active == 'Index' ? 'is-active' : '') 2013
			li: a(href='historie.html#2012', class=active == '2012' ? 'is-active' : '') 2012
			li: a(href='historie.html#2011', class=active == '2011' ? 'is-active' : '') 2011
			li: a(href='historie.html#2010', class=active == '2010' ? 'is-active' : '') 2010
			li: a(href='historie.html#2009', class=active == '2009' ? 'is-active' : '') 2009
	
	+menu-item('kontakt.html', 'Kontakt', 'link-Contact')