//- Mixin that takes care of 'selected' class
mixin menu-item(url, title, classnames)
	li(class='#{classnames}')
		a(href=url, class=active == title ? 'selected' : '')= title

//- volunteer fortraders forartists press partners backstage
//- news music arts camping practical ticket tv shop forum about
//- http://www.helmo.fr/ongoing/palais-de-tokyo/

ul.Navigation.Navigation--primary
		+menu-item('/', 'Index', 'LinkIndex')
		+menu-item('program.html', 'Program', 'LinkProgram')
		+menu-item('billetter.html', 'Billetter', 'LinkTickets')
		+menu-item('info.html', 'Info', 'LinkInfo')
		+menu-item('gallery.html', 'Galleri', 'LinkGallery')
		li.LinkHistory.DropdownParent
			a(href='#', class=active == 'Historie' ? 'selected' : '') Historie
			ul.Navigation.Navigation--history.Dropdown
				li: a(href='/', class=active == 'Index' ? 'selected' : '') 2013
				li: a(href='2012.html', class=active == '2012' ? 'selected' : '') 2012
				li: a(href='2011.html', class=active == '2011' ? 'selected' : '') 2011
				li: a(href='2010.html', class=active == '2010' ? 'selected' : '') 2010
				li: a(href='2009.html', class=active == '2009' ? 'selected' : '') 2009
		//-+menu-item('kontakt.html', 'Kontakt', 'LinkContact')

//-ul.Navigation
	li.DropdownParent
		a(href="#") <i class="icons-world-small"> Language</i>
		ul.Navigation.Dropdown
			li: a(href='/', class=language == 'da' ? 'selected' : '') Danish
			li: a(href='/en', class=language == 'en' ? 'selected' : '') English
			

			Praktisk info
			Galleri
			Bandbeskrivelser (må gerne være nemt at hoppe rundt mellem dem) senere + spilleplan
			Galleri
			Spotify og evt. wimp-playlister + Youtube-playlister
			Bliv frivillig
