//- Mixin that takes care of 'is-active' class
mixin menu-item(url, title, classnames)
	li(class='#{classnames}')
		a(href=url, class=active == title ? 'is-active' : '')= title

ul(class=active == 'Index' ? 'is-hidden' : '').Navigation.Navigation--primary
	+menu-item('/', 'Index', 'LinkIndex')
	+menu-item('program.html', 'Program', 'LinkProgram')
	+menu-item('billetter.html', 'Billetter', 'LinkTickets')
	+menu-item('info.html', 'Info', 'LinkInfo')
	+menu-item('gallery.html', 'Galleri', 'LinkGallery')
	li.LinkHistory
		a(href='historie.html', class=active == 'Historie' ? 'is-active' : '') Historie
		ul.Navigation.Navigation--history.Dropdown
		//-	ul.Navigation.Navigation--history.Dropdown
			li: a(href='/', class=active == 'Index' ? 'is-active' : '') 2013
			li: a(href='historie.html#2012', class=active == '2012' ? 'is-active' : '') 2012
			li: a(href='historie.html#2011', class=active == '2011' ? 'is-active' : '') 2011
			li: a(href='historie.html#2010', class=active == '2010' ? 'is-active' : '') 2010
			li: a(href='historie.html#2009', class=active == '2009' ? 'is-active' : '') 2009
	//-+menu-item('kontakt.html', 'Kontakt', 'LinkContact')

//-ul.Navigation
	li.DropdownParent
		a(href="#") <i class="icons-world-small"> Language</i>
		ul.Navigation.Dropdown
			li: a(href='/', class=language == 'da' ? 'is-active' : '') Danish
			li: a(href='/en', class=language == 'en' ? 'is-active' : '') English
			

			Praktisk info
			Galleri
			Bandbeskrivelser (må gerne være nemt at hoppe rundt mellem dem) senere + spilleplan
			Galleri
			Spotify og evt. wimp-playlister + Youtube-playlister
			Bliv frivillig
			Front
			Spilleplan
			Musik/Program/lineup/kunstnere
			camping
			about alive
			Billetter
			Nyheder
			Info
			countdown
			travel
			http://northside.dk/faq/
			presse
			kontakt
