<div class="gallery">
	{{#if images.0.sizes.l}}
			<img class="landscape" src={{images.0.sizes.l}}/>	
	{{/if}}
	{{#if images.1.sizes.l}}
			<img class="portrait" src={{images.1.sizes.l}}/>
	{{/if}}
	{{#if images.2.sizes.l}}
			<img class="landscape" src={{images.2.sizes.l}}/>
	{{/if}}
	{{#if images.3.sizes.l}}
			<img class="portrait" src={{images.3.sizes.l}}/>
	{{/if}}
	{{#if images.4.sizes.l}}
			<img class="landscape" src={{images.4.sizes.l}}/>	
	{{/if}}
	{{#if images.5.sizes.l}}
			<img class="portrait" src={{images.5.sizes.l}}/>	
	{{/if}}
	{{#if images.6.sizes.l}}
			<img class="landscape" src={{images.6.sizes.l}}/>	
	{{/if}}


</div>

{{yield}}