<div class="image-element">
	{{#if images.0.sizes.xxl}}
			<img class="landscape" src={{images.0.sizes.xxl}}/>	
	{{/if}}
	{{#if images.1.sizes.xxl}}
			<img class="portrait" src={{images.1.sizes.xxl}}/>
	{{/if}}
	{{#if images.2.sizes.xxl}}
			<img class="portrait" src={{images.2.sizes.xxl}}/>
	{{/if}}
	{{#if images.3.sizes.xxl}}
			<img class="landscape" src={{images.3.sizes.xxl}}/>
	{{/if}}
	{{#if images.4.sizes.xxl}}
			<img class="landscape" src={{images.4.sizes.xxl}}/>	
	{{/if}}
	{{#if images.5.sizes.xxl}}
			<img class="landscape" src={{images.5.sizes.xxl}}/>	
	{{/if}}
	{{#if images.6.sizes.xxl}}
			<img class="landscape" src={{images.6.sizes.xxl}}/>	
	{{/if}}
	{{#if images.7.sizes.xxl}}
			<img class="landscape" src={{images.7.sizes.xxl}}/>	
	{{/if}}
	{{#if images.8.sizes.xxl}}
			<img class="landscape" src={{images.8.sizes.xxl}}/>	
	{{/if}}
	{{#if images.9.sizes.xxl}}
			<img class="landscape" src={{images.9.sizes.xxl}}/>	
	{{/if}}
	{{#if images.10.sizes.xxl}}
			<img class="landscape" src={{images.10.sizes.xxl}}/>	
	{{/if}}
	{{#if images.11.sizes.xxl}}
			<img class="landscape" src={{images.11.sizes.xxl}}/>	
	{{/if}}
	{{#if images.12.sizes.xxl}}
			<img class="landscape" src={{images.12.sizes.xxl}}/>	
	{{/if}}
	{{#if images.13.sizes.xxl}}
			<img class="landscape" src={{images.13.sizes.xxl}}/>	
	{{/if}}
	{{#if images.14.sizes.xxl}}
			<img class="landscape" src={{images.14.sizes.xxl}}/>	
	{{/if}}
	{{#if images.15.sizes.xxl}}
			<img class="landscape" src={{images.15.sizes.xxl}}/>	
	{{/if}}
	

</div>

{{yield}}