<div style="background-image:linear-gradient({{escapeCSS design.top_color}}, {{escapeCSS design.bottom_color}}); color:{{escapeCSS design.text_color}}" >
	{{#if design.quote_graphic}}
		<img class="BG-ImageCover lazyload" src="{{design.quote_graphic}}" alt="{{model.title}}"/>
	{{/if}} 
	<div class="Container">
			<ul class="artist-list" style="color:{{escapeCSS design.teaser_link_color}}">
					{{#each artists as |artist|}}
					<li class="artist-item">
						{{#link-to 'program.artist' artist class='artist'}}
							{{artist.title}}
							<img class="arrow lazyload" src="/assets/images/icons-output/png/artist-arrow.png"/>
						{{/link-to}}
					</li>
					{{/each}}
					{{#link-to 'program' class="Button" }}
						<p style="color:{{escapeCSS design.text_color}}">{{design.quote_text_small}}</p>
					{{/link-to}}	
		</ul>
	</div>
</div>

{{yield}}


