<div style="background-image:linear-gradient({{escapeCSS design.top_color}}, {{escapeCSS design.bottom_color}})">
	{{#if design.quote_graphic}}
	<img class="BG-ImageContain lazyload" src="{{design.quote_graphic}}"/>
	{{/if}}
	<div class="foreground-content fourPaddedContainer" style="color:{{design.text_color}}">
		<h2 class="first">{{design.quote_text}}</h2>
		{{#if design.quote_text_small}}
		<h2 class="second">{{design.quote_text_small}}</h2>
		{{/if}}
		 {{#if design.teaser_image}}
         <img class="inspiration-image lazyload" src={{design.teaser_image}} />
    	{{/if}}
	</div>	 
	
	
</div>

{{yield}}