{{!-- <div class="Index">
	{{big-video src=model.acf.video srcwebm=model.acf.videowebm srcogg=model.acf.videoogg}}
	<img src="assets/images/logo.svg" alt="World Class Guide">
</div> --}}

<div class="Index">
	<h1 class="Index-title">{{model.page.title}}</h1>
	{{!-- <div class="Index-body">{{{model.page.content}}}</div> --}}

	<div class="Index-gallery">
		{{gallery-counter selected=gallerySelected total=galleryTotal}}
		{{#flickity-gallery images=model.page.acf.gallery settle=(action 'updateGalleryCounter') as |item|}}
				<img class="lazyload" src="{{item.url}}" alt="{{item.alt}}">
				{{!-- <img class="lazyload" src="{{item.sizes.medium}}" alt="{{item.title}}" data-sizes="auto" data-srcset="{{item.sizes.medium}} 640w, {{item.sizes.xlarge}} 1200w" /> --}}
		{{/flickity-gallery}}
	</div>
	<marquee class="Index-artists" behavior="" direction="">
		Lineup 2016 &rarr;
		{{#each model.artists as |artist|}}
			{{#link-to 'music.artist' artist}}{{artist.title}}{{/link-to}} <span class="Separator">0</span>
		{{/each}}
	</marquee>

	<section class="Index-boxes">
		<div class="Grid Grid--full">
			{{!-- <div class="Grid-item">
				<h3>{{link-to 'Bliv frivillig' 'about'}}</h3>
			</div> --}}
			<div class="Grid-item">
				{{link-to 'Køb billet' 'tickets'}}
			</div>
			{{!-- <div class="Grid-item">
				<h3>{{link-to 'Transport' 'about'}}</h3>
			</div> --}}
		</div>
	</section>
</div>