
<div class="index" style="background-image:linear-gradient({{escapeCSS model.page.acf.top_color}}, {{escapeCSS model.page.acf.bottom_color}})" >
	<div class="HeaderContainer">
		<video autoplay loop class="cover-video lazyload">
				<source src="https://res.cloudinary.com/demo/video/upload/q_auto,vc_vp9/vyuth6hpr1a63vkk5a54.webm" alt="Alive Festival <3 u"type="video/webm">
				Your browser does not support the video tag.
		</video>
	
		<div class="headline">
				{{#if model.page.acf.headline_image}}
					<img class="covermage lazyload" src={{model.page.acf.headline_image}}/>
				{{else}}
					<div class="topline">
						<h1 style="color:{{escapeCSS model.page.acf.headline_color}}" class="big-headline line1">{{model.page.acf.headline1}}</h1>
						<div class="top-date" style="color:{{escapeCSS model.page.acf.subtitle_color}}" >
							<h2 class="subtitle">{{model.page.acf.festival-begin-date}}</h2>
							<h2 class="subtitle">{{model.page.acf.festival-end-date}}</h2>
						</div>
					</div>
					<div class="bottomline">
						<h1 style="color:{{escapeCSS model.page.acf.headline_color}}" class="big-headline line2">{{model.page.acf.headline2}}</h1>
						<h2 style="color:{{escapeCSS model.page.acf.subtitle_color}}" class="subtitle bottom-date">{{model.page.acf.festival_date_part_2}}</h2>
					</div>
				{{/if}}
		</div>
	</div>
	
	{{#if model.page.acf.festival_is_on}}
	<div style="background-image:linear-gradient({{escapeCSS model.page.acf.cover_image_1_top_color}}, {{escapeCSS model.page.acf.cover_image_1_bottom_color}})" class="Container Media-TopFade-Large categories topPadded">
		<div class="Container Relative graphic-container top-position fourPaddedContainer">
			<h1 class="frontpage-headline-small"style="color:{{escapeCSS model.page.acf.text_color}}">Det sker lige nu</h1>
			{{time-schedule artists=model.artists frontpage=1}}
			{{#link-to 'program' }}
			<div style="border: 1px {{escapeCSS model.page.acf.text_color}} solid" class="Button small-caption">
			SE HELE SPILLEPLANEN
			</div>
			{{/link-to}}
			{{#if model.page.acf.festival_is_on_map}}
			<h1 class="frontpage-headline-oblique topPadded"style="color:{{escapeCSS model.page.acf.text_color}}">KORT</h1>
			<img class="map bottom-margin" src="{{model.page.acf.festival_is_on_map}}"/>
			{{#link-to 'kort' }}
					<div style="border: 1px {{escapeCSS model.page.acf.text_color}} solid" class="Button small-caption">
					SE STØRRE
					</div>
			{{/link-to}}
			{{/if}}
		</div>
	
		{{#if model.page.acf.kategori_1}}
			<div  class="Container categories topPadded">
				<ul class="graphic-container" style="color:{{escapeCSS model.page.acf.kategories_text_color}}"> 
					<li class="graphic-item">
						<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.0.sizes.s}}"/>		
						<a href="{{model.page.acf.kategori_1}}" class="OptiBrianReg"> {{model.page.acf.kategori_1_title}}</a>				
					</li>
					<li class="graphic-item">
							<a href="{{model.page.acf.kategori_2}}" class="OptiBrianItalic"> {{model.page.acf.kategori_2_title}}</a>	
						<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.1.sizes.s}}"/>		
						
					</li>
					<li class="graphic-item">
						<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.2.sizes.s}}"/>		
						<a href="{{model.page.acf.kategori_3}}" class="GTHaptic longerText"> {{model.page.acf.kategori_3_title}}</a>
										
					</li>
					<li class="graphic-item">
						<a href="{{model.page.acf.kategori_4}}" class="GTHaptic"> {{model.page.acf.kategori_4_title}}</a>	
						<img  class="lazyload" src="{{model.page.acf.kategori_graphic_elements.3.sizes.s}}"/>		
					</li>
				</ul>
				</div>
		{{/if}}
	</div>
	{{#if model.page.acf.festival_is_on_images}}
			{{image-element images=model.page.acf.festival_is_on_images}}
	{{/if}}
	{{else}}
	{{#if model.page.acf.kategori_1}}
	<div style="background-image:linear-gradient({{escapeCSS model.page.acf.cover_image_1_top_color}}, {{escapeCSS model.page.acf.cover_image_1_bottom_color}})" class="Container Media-TopFade categories topPadded">
		<ul class="graphic-container top-position" style="color:{{escapeCSS model.page.acf.kategories_text_color}}"> 
			<li class="graphic-item">
				<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.0.sizes.s}}"/>		
				<a href="{{model.page.acf.kategori_1}}" class="OptiBrianReg"> {{model.page.acf.kategori_1_title}}</a>				
			</li>
			<li class="graphic-item">
					<a href="{{model.page.acf.kategori_2}}" class="OptiBrianItalic"> {{model.page.acf.kategori_2_title}}</a>	
				<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.1.sizes.s}}"/>		
				
			</li>
			<li class="graphic-item">
				<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.2.sizes.s}}"/>		
				<a href="{{model.page.acf.kategori_3}}" class="GTHaptic longerText"> {{model.page.acf.kategori_3_title}}</a>
								
			</li>
			<li class="graphic-item">
				<a href="{{model.page.acf.kategori_4}}" class="GTHaptic"> {{model.page.acf.kategori_4_title}}</a>	
				<img class="lazyload" src="{{model.page.acf.kategori_graphic_elements.3.sizes.s}}"/>		
			</li>
		</ul>
	</div>
	{{/if}}
	{{/if}}
	


	<div class="column">
		{{#if model.page.acf.show_news}}
		<div class="container" style="background-color:{{escapeCSS model.page.acf.news_ticker_background_color}}">
			<div  class="news-ticker" style="color:{{escapeCSS model.page.acf.news_ticker_text_color}}"> 
				{{#if model.page.acf.news-alert}}
					{{item-ticker items=model.page.acf.news-alert}}
				{{else}}
					{{item-ticker items=model.news no-urgent-news=true}}
				{{/if}}
			</div>
		</div>
		{{/if}}

		{{#if model.page.acf.cover-image2}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image2}}" alt="{{model.title}}"/>
		{{/if}}
	
		<div class="Container Relative">
			{{inspirational-quote design=model.page.acf.teaser_block.[0]}}
		</div>
	
		{{#if model.page.acf.cover-image3}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image3}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative">
		{{artist-list artists=model.artists design=model.page.acf.teaser_block.[1]}}
		</div>

		{{#if model.page.acf.cover-image4}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image4}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative">
			{{teaser-clicker design=model.page.acf.teaser_clicker.[0]}}
		</div>

		{{#if model.page.acf.cover-image5}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image5}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative">
			{{activity-modul activities=model.activites design=model.page.acf.teaser_clicker.[4]}}
		</div>

		{{#if model.page.acf.cover-image6}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image6}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative">
			{{actvities-list items=model.practical design=model.page.acf.teaser_clicker.[3]}} 
		</div>

		{{#if model.page.acf.cover-image7}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image7}}" alt="{{model.title}}"/>
		{{/if}}
		
		<div class="Container Relative">
			{{teaser-clicker design=model.page.acf.teaser_clicker.[1]}}
		</div>

		{{#if model.page.acf.cover-image8}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image8}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative">
			{{teaser-clicker design=model.page.acf.teaser_clicker.[2]}}
		</div>

		{{#if model.page.acf.cover-image9}}
			<img class="coverImage lazyload" src="{{model.page.acf.cover-image9}}" alt="{{model.title}}"/>
		{{/if}}

		<div class="Container Relative fourPaddedContainer topPadded">
				{{newsletter-form}}
		</div>
		
		<div style="background-image:linear-gradient({{escapeCSS model.samarbejdsteaser.acf.featured_partners_top_color}}, {{escapeCSS model.samarbejdsteaser.acf.featured_partners_bottom_color}}); color:{{escapeCSS model.samarbejdsteaser.acf.featured_partners_text_color}}" >
			{{image-grid items=model.samarbejdsteaser.acf.partner_gallery urltext=model.samarbejdsteaser.acf.featured_partners_headline style=model.samarbejdsteaser.acf.featured_partners_text_color url="partners"}} 
		</div>

		<div class="PaddedContainer Container Relative instagram" style="background-image:linear-gradient({{escapeCSS model.page.acf.insta_news_top_color}}, {{escapeCSS model.page.acf.insta_news_bottom_color}}); color:{{escapeCSS model.page.acf.insta_news_headline_color}}" >
			<a href={{model.page.acf.instagram_url}} target="_blank" title="Alive på instagram">
				{{model.page.acf.title_for_instagram_list}}
			</a>
			{{instagram-feed token=model.page.acf.instagram_widget}}
			{{#link-to 'news' }}
				{{model.page.acf.title_for_news_list}}
			{{/link-to}}
			{{news-list items=model.news textcolor=model.page.acf.insta_news_text_color timecolor=model.page.acf.insta_news_headline_color time=1}}
		</div>
	</div>


	<div class="footer"> 
		{{#if model.page.acf.footer_image}}
			<img class="footerImage lazyload" src="{{model.page.acf.footer_image}}" alt="{{model.title}}"/>
		{{/if}}
		<div class="footer-content" style="color:{{model.page.acf.footer_links_color}}">
				{{link-to 'Nyheder' 'news'}}
				{{link-to 'Praktisk' 'practical'}}
				{{link-to 'Partnere' 'partners'}}
				{{link-to 'Historie' 'about.history'}}
				{{link-to 'Kontakt' 'about.contact'}}
				
				<h3 style="color:{{model.page.acf.footer_headline_color}}">{{model.page.acf.footer_headline}}</h3>
				<div class="footer-links">
				<a style="border: 1px {{model.page.acf.footer_headline_color}} solid; color:{{model.page.acf.footer_links_color}}; background-color:{{model.page.acf.footer_button_color}}" href="{{model.MusikTeaserDesign.acf.url_1}}" class="Button"> 
					{{model.MusikTeaserDesign.acf.secondary_text_for_url_1}}
				</a>
		
				<a style="border: 1px {{model.page.acf.footer_headline_color}} solid; color:{{model.page.acf.footer_links_color}}; background-color:{{model.page.acf.footer_button_color}}" href="{{model.MusikTeaserDesign.acf.url_2}}" class="Button"> 
					{{model.MusikTeaserDesign.acf.secondary_text_for_url_2}}
				</a>
				</div>
				{{social-links}}
		</div>
	</div>
	


	
</div>



