<div class="Index">
	<h1 class="Index-title">{{model.page.title}}</h1>

	<div class="Index-gallery">
		{{gallery-counter selected=gallerySelected total=galleryTotal}}
		{{#flickity-gallery images=model.page.acf.gallery settle=(action 'updateGalleryCounter') as |image|}}
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{image.alt}}" data-sizes="auto" data-srcset="
				{{image.sizes.s}} 320w,
				{{image.sizes.m}} 768w,
				{{image.sizes.l}} 1024w,
				{{image.sizes.xl}} 1600w,
				{{image.sizes.xxl}} 1920w"/>
		{{/flickity-gallery}}
	</div>

	<marquee class="Index-artists" behavior="" scrollamount="8" direction="alternate">
		Lineup 2016 &rarr;
		{{#each model.artists as |artist|}}
			{{#link-to 'music.artist' artist}}
				{{{artist.title}}}
			{{/link-to}}
			<span class="Separator">0</span>
		{{/each}}
	</marquee>

	<div class="TeaserBox TeaserBox--alive">
		{{link-to 'Køb billet' 'tickets'}}
	</div>

	{{!-- <div class="LatestNews u-darkBg"> --}}
	<div class="LatestNews Page Page--clean">
		<h3>{{#link-to 'news'}}Seneste nyt fra Alive… &rarr;{{/link-to}}</h3>
		{{news-list items=model.news grid=true}}
		<br>
		<h2 class="LatestNews-title">
			{{#link-to  'adventure'}}
				{{model.page.acf.eventyr_teaser_title}}
			{{/link-to}}
		</h2>
		{{instagram-feed}}
	</div>
</div>
