<div class="Index">
	<!-- <h1 class="Index-title">{{model.page.title}}</h1> -->
	<div class="header"> 
			<div class="HeaderLogo">
			{{#link-to 'application'}}
				<img width="100" class="Logo-light" src="/assets/images/logos/logo-2017-white.png" alt="Thy Alive Festival">
			{{/link-to}}
			{{!-- <p class="Logo-date">THY. 30/7- 1/8</p> --}}
			</div>
			<div>
			{{#link-to 'tickets' class="Button FixedTicketButton"}}
			KØB BILLET
			{{/link-to}}
			</div>
			<div class="flexbox-placeholder"></div>
	</div>
	
	<div class="Index-gallery">
		<h1>Velkommen til <br> Alive Festival</h1>
		{{gallery-counter selected=gallerySelected total=galleryTotal}}
		
		{{#flickity-gallery
			class="FlickityGallery--responsive"
			images=model.page.acf.gallery
			on-settle=(action 'updateGalleryCounter') as |image|
		}}
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{image.alt}}" data-sizes="auto" data-srcset="
				{{image.sizes.s}} 320w,
				{{image.sizes.m}} 768w,
				{{image.sizes.l}} 1024w,
				{{image.sizes.xl}} 1600w,
				{{image.sizes.xxl}} 1920w" />
		{{/flickity-gallery}}
		
	</div>

	
	<div class="Container Container--huge"> 
		<img class="coverpic" src="/assets/images/coverpic.png" width= "100%" alt="kom med til den vilde vest">
	</div>


	<div class="Container Container--huge mt2 mb1">
		{{news-list items=model.news grid=true}}
	</div>

	<div class="Media Media--center Media--yellow">
		<div class="Media-figure">
			{{#flickity-gallery images=model.artists as |artist|}}
				{{#link-to 'program.artist' artist}}
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" data-srcset="{{artist.better_featured_image.media_details.sizes.mini.source_url}} 200w, {{artist.better_featured_image.media_details.sizes.mini-double.source_url}} 400w" alt="{{artist.title}}">
				{{/link-to}}
			{{/flickity-gallery}}
		</div>
		<div class="Media-body">
			<h3>{{#link-to "program"}}{{{model.page.acf.musik_teaser_title}}}{{/link-to}}</h3>
			<p class="Media-title">{{{model.page.acf.musik_teaser_text}}}</p>
			<p>{{#link-to "program"}}Se hele musikprogrammet &rarr;{{/link-to}}</p>
		</div>
	</div>

	<div class="Media Media--center Media--reverse Media--red">
		<div class="Media-figure">
			{{#link-to 'program' (query-params tag="event")}}
				<img src="/assets/images/moods/eventyr/summer-camp.jpg" alt="Nationalpark Thy">
			{{/link-to}}
		</div>
		<div class="Media-body">
			<h3>{{#link-to "adventure"}}{{{model.page.acf.eventyr_teaser_title}}}{{/link-to}}</h3>
			<p class="Media-title">{{{model.page.acf.eventyr_teaser_text}}}</p>
			<p>
				{{#link-to 'program' (query-params tag="event")}}
					Se hele dagsprogrammet &rarr;
				{{/link-to}}
			</p>
		</div>
	</div>

	<div class="Container Container--huge mt2 mb1">
		{{newsletter-form}}
	</div>

	<div class="Container pt2 pb2">
		{{{model.page.acf.extra_text}}}
		{{!-- <img src="/assets/images/square.gif" width="100%" alt=""> --}}
	</div>

	<div class="Invert">
		{{instagram-feed class="InstaFeed"}}
		<div class="tc mt2 pb1 underline">
			<small>
				 {{{model.page.acf.footer_text}}}
			</small>
		</div>
	</div>
</div>


<div class="TeaserBox TeaserBox--alive">
	{{link-to 'Køb billet' 'tickets'}}
</div>



