<div class="Teaser-wrap">
	<figure class="Teaser-media">
		{{!-- <img class="lazyload"
				alt="{{item.better_featured_image.alt_text}}"
				src="{{item.better_featured_image.media_details.sizes.mini-double.source_url}}" /> --}}
		<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			data-sizes="auto"
			data-srcset="
				{{item.better_featured_image.media_details.sizes.mini.source_url}} 200w,
				{{item.better_featured_image.media_details.sizes.mini-double.source_url}} 400w
			"
			alt="">
	</figure>
	<h2 class="Teaser-title">
		<span>{{{item.title}}}</span>
		{{#if item.acf.festival_date}}
			<small><time>{{moment-format item.acf.festival_date "dddd"}}</time></small>
		{{/if}}
	</h2>
</div>

{{yield}}
