{{#page-item page=model hideContent=true}}
	<div class="BilletterBody">
		<h2>Tre dage i august med musik og natur i Thy!</h2>
		<br>
		<p><a href="{{model.ticket_link}}" target='_blank'>
			<img class="BilletterBody-image" src="assets/images/billetter-animation.gif" alt="">
		</a></p>
		<div class="BilletterBody-content">
			<p><a class="BilletterBody-button Button Button--blue" target='_blank' href="{{model.ticket_link}}">KØB!</a></p>
			<div class="Page-content">
				{{{model.content}}}
			</div>
		</div>
	</div>
	{{!-- mobile version below --}}
	<div class="BilletterBody BilletterBody--mobile">
		<h2 class="BilletterBody-title">Alive Festival 2016</h2>
		<div class="BilletterBody-wrap">
			<p><strong>11 - 13 August 2016<br>PARTOUTBILLET</strong></p>
			<p>Adgang til tre dages musik og oplevelser</p>
			<span class="icon-camping"></span>
			<p>Mulighed for camping</p>
		</div>
		<div class="BilletterBody-wrap">
			<p><strong>495 KR.<br>PARTOUBILLET</strong></p>
			<p>Billetter købes igennem Billetlugen</p>
			<br><br><br><br>
		</div>
		<a class="BilletterBody-button Button Button--blue" target='_blank' href="{{model.ticket_link}}">KØB!</a>
		<p><small>Fra d. 4. maj til og med 1. august er prisen 545 kr. for partoutbillet, fra d. 2. august 595 kr.</small></p>
	</div>
{{/page-item}}

{{outlet}}
