<div class="Page" style="background-image:linear-gradient({{escapeCSS model.page.acf.top_color}} 0%, {{escapeCSS model.page.acf.bottom_color}} 20%) " >
	<div class="Page-top blog" style="color:{{escapeCSS model.page.acf.paragraph_text_color}}">
		<h1 class="page-title" style="color:{{escapeCSS model.page.acf.headline_color}}">{{model.page.title}}</h1>
		{{#if model.page.acf.alerting_text}}
			
		<h2 class="page-title" style="color:{{escapeCSS model.page.acf.headline_color}}">{{model.page.acf.alerting_text}}</h2>
		
		{{#if model.page.acf.alert_gallery}}
			
		{{image-element images=model.page.acf.alert_gallery}}
		{{/if}}
			
		{{/if}}
		<p class="page-content"> {{{model.page.content}}}	
		</p>
	</div>
	<div class="grid-practical SidePadded Page-bottom">
			{{#each model.practical as |praktisk-artikel|}}
				<div class="practical-teaser" style="border: 1px {{escapeCSS model.page.acf.text_color}} solid; color:{{escapeCSS model.acf.button_text_color}}"> 
					{{#link-to "news.post" praktisk-artikel}}
							{{practical-item item=praktisk-artikel color=model.page.acf.text_color}}
					{{/link-to}}
				</div>
			{{/each}}
	</div>



</div>







{{outlet}}
