<article class="Artist Page" style="background-image:linear-gradient({{escapeCSS model.acf.top_color}} 0%, {{escapeCSS model.acf.bottom_color}} 20%) " >
		
		<div class="Page-body blog top-body ">

			<h2 style="color:{{escapeCSS model.acf.headline_color}}" class="Teaser-title">
				<span class="page-title">{{{model.title}}}</span>
				{{#if model.acf.country}}
				<span class="day"> · {{model.acf.country}}</span>
				{{/if}}
			</h2>

			{{#if model.acf.sub_headline}}
				{{{model.acf.sub_headline}}}
			{{/if}}

			
			{{#if model.acf.show_featured_image}}
			<div class="Artist-media">
				<img src="{{model.better_featured_image.source_url}}" alt="{{model.better_featured_image.alt_text}}">
			</div>
			{{/if}}
		

			<p class="Artist-meta" style="color:{{escapeCSS model.acf.headline_color}}">
				{{#if model.acf.festival_date}}
					<strong>
						<time> {{moment-format model.acf.festival_date "dddd D/MM/YY"}} </time>
					</strong>
				{{/if}}

				{{#if model.acf.scene}}
					<strong>{{model.acf.scene}}</strong>
				{{/if}}
			</p>

			<div class="page-content">
					
				{{{model.content}}}

				<div class="horizontal-Centering ">
							
					{{#if model.acf.headline}}
						<h2 class="frontpage-headline-small" style="color:{{escapeCSS model.acf.headline_color}}">{{{model.acf.headline}}}</h2>
					{{/if}}
					
					{{#if model.acf.spotify_embed}}
						<div class="spotify-embed">{{{model.acf.spotify_embed}}}</div>
					{{/if}}

						
					{{#if model.acf.url_1}}	
						<div style="border: 1px {{escapeCSS model.acf.button_frame_color}} solid; color:{{escapeCSS model.acf.button_frame_color}}"class="Button button-border small-caption with-animation"> 		
							<a href="{{model.acf.url_1}}" style="color:{{escapeCSS model.acf.button_text_color}}">{{model.acf.url_1_text}}</a>
						</div>
					{{/if}}
				
					{{#if model.acf.url_2}}
						<div style="border: 1px {{model.acf.button_frame_color}} solid; color:{{escapeCSS model.acf.button_frame_color}}" class="Button button-border small-caption with-animation"> 
							<a href="{{model.acf.url_2}}" style="color:{{escapeCSS model.acf.button_text_color}}">{{model.acf.url_2_text}}</a>
						</div>
					{{/if}}

				</div>

			
			</div>
		</div>
	</article>
	

