<div class="Page">
	<div class="Page-body">
		<h1 class="Title">{{model.page.title}}</h1>
		{{#if model.page.acf.alerting_text}}
			
				<h2 class="Title">{{model.page.acf.alerting_text}}</h2>
		
			{{#if model.page.acf.alert_gallery}}
			{{image-element images=model.page.acf.alert_gallery}}
			{{/if}}
			
		{{/if}}
		{{{model.page.content}}}
	</div>
</div>

{{#if model.page.acf.show_program}}		
	{{filter-menu tags=tags class="tc"}}
	<div class="Artists Page-body">
	{{#if musiccategory}}
				{{#if musiccategory}}
			<div>
			{{#link-to 'program' (query-params tag="jazz") class="Button coral-Button"}}
				Jazz
			{{/link-to}}

			{{#link-to 'program' (query-params tag="RNB") class="Button coral-Button"}}
				R'n'B
			{{/link-to}}
			{{#link-to 'program' (query-params tag="rock") class="Button coral-Button"}}
				Rock
			{{/link-to}}
			{{#link-to 'program' (query-params tag="electronic") class="Button coral-Button"}}
				Elektronisk
			{{/link-to}}
			{{#link-to 'program' (query-params tag="kunst") class="Button coral-Button"}}
				Kunst
			{{/link-to}}
			{{#link-to 'program' (query-params tag="performance") class="Button coral-Button"}}
				Performance
			{{/link-to}}
			{{#link-to 'program' (query-params tag="rap") class="Button coral-Button"}}
				Rap
			{{/link-to}}
			{{#link-to 'program' (query-params tag="hiphop") class="Button coral-Button"}}
				Hip Hop
			{{/link-to}}
			</div>
			{{/if}}
		<p>{{model.acf.music_text}}</p>
	{{/if}}
	{{#if eventcategory}}

		<p>{{model.acf.event_text}}</p>
	{{/if}}
	{{#masonry-grid}}
		{{#each filteredArtists as |artist|}}
			<div class="Masonry-item">
				{{#link-to "program.artist" artist}}
					{{teaser-item item=artist}}
				{{/link-to}}
			</div>
		{{/each}}
	{{/masonry-grid}}
	</div>	
	
{{/if}}



