<div class="Page" style="background-image:linear-gradient({{escapeCSS model.page.acf.top_color}}, {{escapeCSS model.page.acf.bottom_color}})" >

{{#if page.better_featured_image}}
	<figure class="Page-banner">
		<img src="{{page.better_featured_image.source_url}}" alt="{{page.title}}">
	</figure>
{{/if}}

<div class="Page-body">
	{{#if page.title}}<h1 class="Title">{{page.title}}</h1>{{/if}}

	{{#unless hideContent}}
		<div class="Page-content">
			{{{page.content}}}
		</div>
	{{/unless}}

	{{#if page.acf.sections}}
		<div class="Page-content">
			{{section-box-wrapper sections=page.acf.sections}}
		</div>
	{{/if}}

	{{#if page.acf.extra_text}}
		{{{page.acf.extra_text}}}
	{{/if}}

	{{yield}}
</div>

{{#if page.acf.background_image.sizes.bg-portrait-xl}}
	<img class="Page-backgroundImage" src="{{page.acf.background_image.sizes.bg-portrait-l}}" alt="">
{{/if}}
</div>
