{{#if page.better_featured_image}}
	<figure class="Page-banner">
		<img src="{{page.better_featured_image.source_url}}" alt="{{page.title}}">
	</figure>
{{/if}}

{{#if layout.billetter}}
	<div class="Page-banner">
		<h1>{{page.title}}</h1>
		<img src="assets/images/wristband-oskar.png" alt="">
	</div>
{{/if}}

<div class="Page-body">
	{{#if layout.billetter}}
			<img src="assets/images/alive-billetter.svg" alt="">
	{{/if}}
	{{#if page.title}}<h1>{{page.title}}</h1>{{/if}}
	{{{page.content}}}
	{{yield}}
</div>

{{#if layout.billetter}}
	<div class="Page-backgroundImage"></div>
{{else if page.acf.background_image.sizes.bg-portrait-xl}}
	<img class="Page-backgroundImage" src="{{page.acf.background_image.sizes.bg-portrait-xl}}" alt="">
{{/if}}
