ul#Masonry.Masonry.Artists
	mixin artist(title, titleClean, date, scene, youtube)
		- var img = titleClean
		li.Artist(class=titleClean)
			a(href='##{titleClean}', data-effect="mfp-3d-unfold").js-Popup--artist
				h2.Artist-title #{title}
				figure.Artist-media
					img(src='images/2013/artists/#{img}.jpg', alt='#{title}')
			div(id='#{titleClean}').Artist-popup.mfp-hide
				figure.Artist-media
					img(src='images/2013/artists/#{titleClean}.jpg', alt='#{title}')
				.Artist-info
					h2.Artist-title #{title}
					p.date #{date} <em>#{scene}</em>
					//a.js-Popup--YouTube(href='#{youtube}').Button Lyt
					p: a.Button(href='#{youtube}') Lyt
					block

	mixin desc($number)
		div(class="desc" + $number)
			block

	+artist('The Raveonettes', 'the-raveonettes', 'Loerdag 16. august 23:00', 'tba', 'http://www.youtube.com/watch?v=mRUqpgg-8Ps')
		+desc
			p I 2002 bragede The Raveonettes igennem med den intense støj-klassiker Whip It On og har ikke set sig tilbage siden. Den danske duo har adskillige albums i bagkataloget, der med sine mange variationer står som en rejseberetning fra en sonisk odyssé. Bandets seneste udspil, Observator, udkom i september, hvor en nedtoning af det dogmatiske og sfæriske udtryk banede vejen for en retropoppet stil med elementer fra hele den tidligere karrieres musikalske udskejelser. I en midnatsmesse til ære for den elektriske guitar vil The Raveonettes blæse dig omkuld med lyden af Danmarks største rock-eksport nogensinde.

	+artist('Veto', 'veto', 'Fredag 16. august 23:00', 'tba', 'http://www.youtube.com/watch?v=wi2q19-Bs3E')
		+desc
			p Det alternative rockband med Troels Abrahamsen i front har siden dannelsen i 2004 sat standarden for elektrorock i Danmark og er blevet hædret med Steppeulven og P3 Prisen. Den aarhusianske gruppe har aldrig ladet den støt tiltagende succes blokere for de kunstneriske visioner i musikken, hvis dystre lydbilleder maler disede gråvejrsbilleder på nethinden og vækker indelukkede, mareridtslignende frustrationer til live. Med industrielle beats, konstant omskiftelige stemninger og energiske udladninger vil VETOs kamp mellem menneske og maskine udfolde sig som en musikalsk allegori på dette års Alive Festival.

	+artist('Ebo Taylor', 'ebo-taylor', 'Loerdag 17. august 20:15', 'Ebo Taylor', 'http://www.youtube.com/watch?v=rVJyMCtlNYs')
		+desc
			p Vestafrikansk highlife, groovy funk og moderne jazz i international klasse rammer Alive, når den 77-årige ghaneser Ebo Taylor går på scenen. I over et halvt århundrede har legenden stået som en milepæl i udbredelsen og skabelsen af moderne afrikansk musik, og med fire albumudgivelser siden 2009 har den ældre herre slået fast, at han – på trods af sin høje alder – stadig er i absolut topform. Med let guitarspil, legende rytmer og jazzede blæsere slipper Ebo Taylor et enestående og eksotisk afrobeat løs – et beat du umuligt kan stå stille til!

	+artist('Fallulah', 'fallulah', 'Fredag 16. august 20:00', 'Gaardhaven', 'http://www.youtube.com/watch?v=bRai2lGj1j0')
		+desc
			p Maria Apetri – bedre kendt som Fallulah – står som en lysende stjerne på den danske musikscene efter gennembruddet i 2010 med The Black Cat Neighbourhood (og en fantastisk optræden på Alive Festival). Den dansk-rumænske sangerinde har siden vundet P3 Guld og udgav i februar Escapism, der på fornem vis følger op på debutpladens dramatiske pop med de østeuropæiske undertoner og forførende balkanbeats. Albummet og den legesyge popmusik cementerer Fallulah som en af tidens mest egenrådige og sanselige danske kunstnere.

	+artist('Den Sorte Skole', 'den-sorte-skole', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=LxkSm_Kwpzo')
		+desc
			p En oplevelsesrig tur på skolebænken og en lektion i alverdens musik står øverst på festivalskemaet med Den Sorte Skole som læremestre. Skolen har i år udgivet Lektion #3, der konceptuelt samler et verdensomspændende sammensurium af samples i en stilfuld og fængende lydkollage, der både rytmisk og tonalt er gennemarbejdet ned til mindste detalje. Siden startskuddet i 2002 har sample-kongerne blandt andet høstet prisen som “Årets Danske DJ’s” ved Danish Hiphop Awards, nydt international anerkendelse og spillet gentagende gange på Roskilde Festival. Med Den Sorte Skole bag pulten krydsbestøves genrer på tværs af tid og rum, og du inviteres til et uforglemmeligt skolebal i en hyperglobaliseret musikalsk verden.

	+artist('Christian Hjelm', 'christian-hjelm', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=BCDDxwnVGyc')
		+desc
			p Med albummet Før Vi Blev Lette solodebuterede Figurines-forsanger Christian Hjelm i efteråret 2012. Hverken sangskrivertalentet eller scenetækket er forsvundet med overgangen til den dansksprogede lyrik, der på nænsom og hverdagspoetisk vis fylder luften med små bobler af kærlighed. Musikken er spækket med fængende popkvad, der ubesværet har kapret både nye fans og beroliget de gamle. Tonerne letter elegant fra nodearket med smittende frigjorthed og lysende spillelyst, så du kan roligt glæde dig til mødet med Christian Hjelms drengede charme og særegne, lyse stemmebånd.

	+artist('Mø', 'moe', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=pB5RfOwrmWQ')
		+desc
			p Karen Marie Ørsted alias MØ er i øjeblikket et af de mest lovende danske navne på den internationale musikscene. Hun har blot tre sange i omløb, men kvaliteterne i hendes blanding af soulinspireret pop, electronica og R&amp;B er så uomtvistelige, at de sammen med stærke liveoptrædener på blandt andet SPOT, Northside og Roskilde Festival har gjort hende til genstand for en ekstrem hype i ind- og udland. Der lader næsten ikke til at være grænser for, hvor langt MØ kan nå, men én ting er sikkert – hun står på scenen til Alive Festival.

	+artist('Dråpe', 'draape', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=wdIXbOxZWXk')
		+desc
			p Den norske kvintet gjorde sig første gang bemærket i 2011 med ep’en Dråpe og sidenhen med det nyudkomne debutalbum Canicular Days. Dråpe spiller drømmende støjpop og trækker dig med ind i et komplekst univers af tøjlesløse passager, fræsende guitarer og længselsfulde vokaler, der med legende lethed svæver oven på det tætpakkede lydbillede. Bandet kunne i år opleves på Roskilde Festivals Pavilion Junior – og nu er turen kommet til Alive.

	+artist('Eloq', 'eloq', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=Vbn37IttGx4')
		+desc
			p August Fenger alias ELOQ laver en giftig neoncocktail af basfikseret og hyperaktiv trap, der har gjort ham til en af de førende skikkelser på den københavnske hiphopscene. Den 22-årige producer har markeret sig på det fremgangsrige Cheff Records-label, og med sin nyeste ep ’C’mon understreger ELOQ, at hans københavnske udgave af wonky – en urban blanding af hiphop og dubstep – er fuldstændig med på de internationale beat-tendenser. Som Soundvenue skriver: ”Man kan sige, hvad man vil, om stilens simplicitet, men kombinationen af dybe bashug, op-pitchede vokalsamples og sirene-lignende melodistumper er altså ganske effektiv på et dansegulv.”

	+artist('Synd og skam', 'synd-og-skam', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/synd-og-skam/ulvene-omkring')
		+desc
			p Det fynske punkband Synd og Skam sprang i 2012 ud af undergrunden som en ADHD-diagnosticeret trold af en æske. Ved udgivelserne af Blafret ør af kjoler og Lad mig falde ind til dig har de noble vildmænds fænomenale mikstur af anarkistisk postpunk, baldret syrerock, skæv poesi og maniske vokaludgydelser fået både publikum og anmeldere til at tabe underkæben. Synd og Skam er et genrenedbrydende kaos, et råb fra undergrunden og et musikalsk frontalangreb på tilværelsens pæne og klaustrofobiske systemer. Bandet giver en fuckfinger til konventionerne og har tilført den danske rockscene et forfriskende skud galskab.

	+artist('Baby in vain', 'baby-in-vain', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=X_xP7UPoL1E')
		+desc
			p Baby In Vain er med lynets hast blevet et af de mest omtalte navne på den danske musikscene. Trioens djævelsk tunge blanding af stonerrock og grunge associerer man normalt ikke med et pigeband, og netop derfor er de tre teenagepiger i Baby In Vain et yderst forfriskende pust på den mandsdominerede rockscene. Kombinationen af hård tråd og hæse kvindevokaler er kraftfuld og beskidt, og det spændingsfyldte musikalske rum sender tankerne tilbage til Nirvana, The Breeders og Black Sabbath. Efter trioens veloverståede koncerter på dette års SPOT og Roskilde Festival, kan du se frem til at få et velplaceret spark i solar plexus, når Baby In Vain indtager Alive.

	+artist('The Late Great Fitzcarraldos', 'tlgf', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=bmFKsEHa6MI')
		+desc
			p Sofistikerede og supermelodiøse luksus-toner svæver ubesværet rundt i The Late Great Fitzcarraldos’ verden af bittersød kærlighed. Supergruppen har rødder i Choir Of Young Believers, moi Caprice og I Got You On Tape og er med deres fængende og smooth feel good-musik et helt igennem behageligt bekendtskab. Stilen er imponerende på den rutinerede trios to albums, hvor svajende, luftige grooves og labert svungne melodilinjer udgør essensen i det afslappede udtryk med tydelige referencer til kulørt 80’er-pop. The Late Great Fitzcarraldos tager dig med på en tilbagelænet søndagstur til stranden under solens varmende stråler.

	+artist('Lars and the hands of light', 'lathol', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=28wPXdUvw0Q')
		+desc
			p Sprudlende og sofistikerede toner, der klæber sig til hjernebarken som tyggegummi, er overskriften, når Lars and the Hands of Light lander på Alive Festival med deres dansable og intense sensommerprægede poprock. Bandet – med de lokale rødder – udgav debutalbummet The Looking Glass i starten af 2010. Siden er det blevet til et hav af koncerter i ind- og udland, og nu er de pladeaktuelle igen med opfølgeren Baby, We Could Die Tomorrow. Lars and the Hands of Light er fængende og uprætentiøst – en hyldest til popskabelonen og den musikalske arv fra 60′erne, 70′erne og 80’erne.

	+artist('Folkeklubben', 'folkeklubben', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=DBudp0EmbDM')
		+desc
			p Der blev skrevet dansk musikhistorie, da Folkeklubben i juni måned sneg sig ind på både Det Elektriske Barometer og Dansktoppens hitlister. Det aktuelle debutalbum Nye Tider byder på gasolinsk gadepoesi, en kæk attitude og et stilsikkert afsæt i dansk 70'er-folkrock, hvor behagelige guitartoner, lette rytmer og blød mandevokal er omdrejningspunktet. Trioen har spillet over 200 koncerter og blandt andet optrådt i DR2’s Deadline samt givet en intimkoncert for den bredmundede nationalskjald Kim Larsen, der kvitterede med klapsalver og øl til ”de tre fedterøve i Folkeklubben”. Med popsange til den tænkende hjerne og det bankende hjerte melder ”Danmarks mest fedtede orkester” sin ankomst på Alive Festival.

	+artist('Mont Oliver', 'mont-oliver', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=ll77Era7ijo')
		+desc
			p Det er gået stærkt for Mont Oliver siden sidste års koncert på Alive Festival. I foråret skrev trioen pladekontrakt med det danske indie-selskab Fake Diamond, spillede til SPOT Festival og varmede op for Imagine Dragons i et udsolgt Store Vega. Førstesinglen White Sheets har længe været fast inventar på P3’s Barometerliste og bliver fulgt op med en udgivelse i efteråret. Deres dugfriske musik trækker på elementer fra urbane genrer som hiphop og triphop, hvor nedpitchede vokaler, samples og tunge beats udgør fundamentet for bandets personlige og særegne lyd. Der er med andre ord høje forventninger, når de lokale drenge vender hjem til Alive.

	+artist('Schultz and Forever', 'schultz-and-forever', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=JzZluf7KnFE')
		+desc
			p Den kun 18-årige sanger og sangskriver Jonathan Schultz har fået en flyvende start på karrieren. Under kunstnernavnet Schultz And Forever har han høstet velfortjent anerkendelse og international bevågenhed med fine anmeldelser af debut-ep’en Céline og en udnævnelse til "Årets Upcoming" i Politiken. Med gnistrende fingerspil og hæs, nasal stemme skaber den danske teenager et levende nærvær og en eksistentiel nerve i sine folk-inspirerede sange, der vækker minder om en ung Bob Dylan. Jonathan Schultz kommer til Alive som en fremtidens mand på den danske musikscene.

	+artist('Bottled in England', 'bottled-in-england', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=DphfqSnyFN8')
		+desc
			p Den energiske drum’n’bass-duo Bottled in England serverer en kombination af håndspillet techno, dubstep og cyberpunk på et massivt sølvfad. Efter kun et halvt års eksistens slog duoen igennem i 2011 med koncerter på SPOT, Distortion, og Roskilde Festival, mens udgivelsen af ep’en Believe The Hype banede vejen for international opmærksomhed. Det seneste udspil, Architect EP, huser i sit stilsikre og meget bastante lydbillede blandt andre Lydmor og Troels Abrahamsens velkendte vokaler. Ep’ens fire numre har allerede ført til turnéer i Europa og Asien og slår fast, at August Dyrborg og Daniel Vognstrups højspændte energifelt af teknisk ekvilibrisme og punk-vildskab blot er begyndelsen på et lovende eventyr.

	+artist('Fitness Figures', 'fitness-figures', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=KmaTBh-BB0g')
		+desc
			p Det københavnske electropop-band Fitness Figures byder velkommen til en verden af catchy melodier og frække synthflader. Det gennemførte lydtapet strør om sig med 80’er-toner, repetitive passager og programmerede rytmer, der med en overraskende lethed viderefører arven fra legender såsom Kraftwerk og Kavinsky. De vellykkede singler Home og Lonely Knight er produceret af Lasse Lyngby – også kendt som White Pony – der blandt andre står bag Vinnie Who, Freja Loeb og My Evil Twin. Frembrydende Fitness Figures virker magnetisk tiltrækkende på enhver med svaghed for elektronisk gennemført 80’er coolness.

	+artist('Santiago', 'santiago', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=G_AkkMi4vFY')
		+desc
			p Når Santiago går på scenen etableres et møde med en verden af moderne americana og country-inspireret folk. Kvintetten gjorde sig bemærket i 2012 med ep’en Everybody Knows I’m Haunted – hvorfra førstesinglen Take Me Somewhere med god grund markerede sig i P6-programmet ”Debut” og ikke mindst scorede en fornem førsteplads på P3’s Barometerliste. Bandets knivskarpe musikere hylder og fortolker de traditionsbundne genrer med et velbalanceret og lettilgængeligt lydbillede, der vil trylle Alive ind i en behagelig tåge af hverdagsmelankoli.

	+artist('Workers in Songs', 'workers-in-songs', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=oB0dexoIDzs')
		+desc
			p Americana-bandet Workers in Songs er i år pladeaktuelle med debutalbummet, For Grandpa, der forfører lytteren med et syndigt, fordrukkent, upoleret og charmerende lydbillede. Forsanger Morten Kroghs let hysteriske vokal oser af nerve og er sammen med inciterende banjo og lap steel guitar en fascinerende ingrediens i det gennemarbejdede udspil. Den hjemmebryggede ”folk’n’country”, som de selv kalder det, har med udvælgelsen til Bandakadamiets og ORA’s Audition Days samt en nominering ved Underground Music Awards gjort den nærværende sekstet velfortjent bemærket. Nyd en drink i selskab med det autentiske live-band, der bringer den støvede sydstatsinspirerede værtshusstemning til Alive.

	+artist('Beastie Respond', 'beastie-respond', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=xjGJ5aXyC5Q')
		+desc
			p En elektronisk bølge ruller ind over Thy, når Tobias Pedersen aka. Beastie Respond spiller op med sine ulmende rytmer i en vidtomspændende kombination af electro, techno, dubstep og drum’n’bass. Den succesfulde 24-årige DJ og producer kalder selv sin musik for ”eclectic new wave”, hvori han blander et væld af basgenrer med 80'er-referencer hentet i pop, funk og rock. Beastie Respond har siden sidste års optræden på Roskilde Festival udgivet debutalbummet Fictitious Nostalgia, der inden for konceptets rammer bliver kaldt en “ubetinget succes” af Soundvenue. Tyngden i de stemningsfulde elektroniske toner vil utvivlsomt fyre op under en forrygende klubfest efter mørkets frembrud.

	+artist('Tales of murder and dust', 'tales-of-murder-and-dust', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=zsfG5I05LW0')
		+desc
			p Aarhus-baserede Tales of Murder and Dust spiller en mørk og eksperimenterende blanding af neo-psykedelisk rock og shoegaze, der blander postpunkens elementer med æteriske psykedeliske stemninger. Sekstetten har opnået international opmærksomhed med debutalbummet Hallucination of Beauty og er i år på banen med ep’en Skeleton Flowers, der forener svævende og søvndyssende vokaler, støjende guitarer, sitar, orgel og violin i et hypnotiserende og særpræget filmisk lydbillede. Tales of Murder and Dust vil troldbinde publikum og indhylle festivalen i et euforisk tågeslør med deres dystre og kompromisløse univers.

	+artist('Den våde vaffel', 'den-vaade-vaffel', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/den-vaade-vaffel/f-din-ritz-p')
		+desc
			p Der er lagt op til en hiphopfest, når Den Våde Vaffel – også kendt som Dr. Nielsen og MC Bukmund – smører dine øregange på Alive Festival. Den lokale duo beskriver selv musikken som ”udsøgt møg-rap”, og med inspiration fra Malk de Koijn og den dansksprogede hiphopscene leveres fabelagtigt ordgøjl oven på en solid bund af stensikre beats. Den Våde Vaffel startede som en joke i 2010, men er helt sikkert kommet for at blive.

	+artist('Rupture Plains', 'rupture-plains', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/ruptureplains/rulesandrights')
		+desc
			p Indierockbandet Rupture Plains er seneste skud på stammen fra Thys blomstrende vækstlag. Med discobeats, lyse guitartoner og stramme bukser er kvartetten inspireret af den nyere britiske pop- og indiescene, hvor især referencer til Oxford og mathrockbandet Foals skinner igennem. Rupture Plains' debut-ep forventes at udkomme i sensommeren 2013, men med forårets avancement til finalen i Skråens Band Battle og en flot andenplads i Smukfests ungdomskonkurrence MUK har det lokale band allerede bevist, at de er en gruppe, der er værd at holde øje med.
