ul#Masonry.Masonry.Artists
	mixin artist(title, titleClean, date, scene, youtube)
		- var img = titleClean
		li.Artist(class=titleClean)
			a(href='##{titleClean}', data-effect="mfp-3d-unfold").js-Popup--artist
				h2.Artist-title #{title}
				figure.Artist-media
					img(src='images/2013/artists/#{img}.jpg', alt='#{title}')
			div(id='#{titleClean}').Artist-popup.mfp-hide
				figure.Artist-media
					img(src='images/2013/artists/#{titleClean}.jpg', alt='#{title}')
				.Artist-info
					h2.Artist-title #{title}
					p.date #{date} <em>#{scene}</em>
					//a.js-Popup--YouTube(href='#{youtube}').Button Lyt
					p: a.Button(href='#{youtube}') Lyt
					block

	mixin desc($number)
		div(class="desc" + $number)
			block

	+artist('The Raveonettes', 'the-raveonettes', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=mRUqpgg-8Ps')

	+artist('Veto', 'veto', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=wi2q19-Bs3E')

	+artist('Ebo Taylor', 'ebo-taylor', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=rVJyMCtlNYs')

	+artist('Fallulah', 'fallulah', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=bRai2lGj1j0')

	+artist('Den Sorte Skole', 'den-sorte-skole', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=LxkSm_Kwpzo')

	+artist('Christian Hjelm', 'christian-hjelm', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=BCDDxwnVGyc')

	+artist('Mø', 'moe', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=pB5RfOwrmWQ')

	+artist('Dråpe', 'draape', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=wdIXbOxZWXk')

	+artist('Eloq', 'eloq', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=Vbn37IttGx4')

	+artist('Synd og skam', 'synd-og-skam', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/synd-og-skam/ulvene-omkring')

	+artist('Baby in vain', 'baby-in-vain', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=X_xP7UPoL1E')

	+artist('The Late Great Fitzcarraldos', 'tlgf', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=bmFKsEHa6MI')

	+artist('Lars and the hands of light', 'lathol', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=28wPXdUvw0Q')

	+artist('Folkeklubben', 'folkeklubben', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=DBudp0EmbDM')

	+artist('Mont Oliver', 'mont-oliver', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=ll77Era7ijo')

	+artist('Schultz and Forever', 'schultz-and-forever', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=JzZluf7KnFE')

	+artist('Bottled in England', 'bottled-in-england', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=DphfqSnyFN8')

	+artist('Fitness Figures', 'fitness-figures', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=KmaTBh-BB0g')

	+artist('Santiago', 'santiago', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=G_AkkMi4vFY')

	+artist('Workers in Songs', 'workers-in-songs', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=oB0dexoIDzs')

	+artist('Beastie Respond', 'beastie-respond', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=xjGJ5aXyC5Q')

	+artist('Tales of murder and dust', 'tales-of-murder-and-dust', 'Fredag 16. august 22:22', 'tba', 'http://www.youtube.com/watch?v=zsfG5I05LW0')

	+artist('Den våde vaffel', 'den-vaade-vaffel', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/den-vaade-vaffel/f-din-ritz-p')

	+artist('Rupture Plains', 'rupture-plains', 'Fredag 16. august 22:22', 'tba', 'https://soundcloud.com/ruptureplains/rulesandrights')

	+artist('This is you', 'this-is-you', 'Fredag 16. august 22:22', 'tba', 'https://www.youtube.com/watch?v=bi9wDB0t7ko')

.Timetable
	p: img(src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/263317_10151500107901714_1432329238_n.jpg', alt='Spilleplan for Alive Festival 2013')
	ul.Timetable-day.Timetable-day--friday
		li: h3 Fredag
		+artist('Veto', '#', 'veto')
		+artist('Fallulah', '#', 'fallulah2')
		+artist('Den Sorte Skole', '#', 'den-sorte-skole')
		+artist('Baby in vain', '#', 'baby-in-vain')
		+artist('Eloq', '#', 'draape')
		+artist('Lars and the hands of light', '#', 'larsandthehandsoflight')
		+artist('Mont Oliver', '#', 'mont-oliver')
		+artist('Bottled in England', '#', 'bottled-in-england')
		+artist('Workers in Songs', '#', 'workers-in-songs')
		+artist('Bestie Respond', '#', 'beastie-respond')
		+artist('Rupture Plains', '#', 'rupture-plains')
	
	ul.Timetable-day.Timetable-day--saturday
		li: h3 Loerdag
		+artist('The Raveonettes', '#', 'raveonettes')
		+artist('Ebo Taylor', '#', 'ebo-taylor')
		+artist('Christian Hjelm', '#', 'christian-hjelm')
		+artist('Mø', '#', 'moe')
		+artist('Folkeklubben', '#', 'folkeklubben')
		+artist('The Late Great Fitzcarraldos', '#', 'lategreat')
		+artist('Dråpe', '#', 'draape')
		+artist('Synd og skam', '#', 'synd-og-skam')
		+artist('Schultz and Forever', '#', 'schultz-and-forever')
		+artist('Fitness Figures', '#', 'fitness-figures')
		+artist('Santiago', '#', 'santiago')
		+artist('Tales of murder and dust', '#', 'tales-of-murder-and-dust')
		+artist('Den våde vaffel', '#', 'den-vaade-vaffel')
		+artist('This is you', '#', 'this-is-you')