block vars
	- var active = 'Index'
	- var bodyClass = 'page-Index'
	- var description = ""

extends views/includes/layout

block content-footer
	//-#zlayer
		.Layer1.Layer--volunteer
			.Box.Box--volunteer
				br
				a(href='frivillig.html').Button &nbsp;&nbsp;&nbsp;&rarr; Bliv frivllig&nbsp;&nbsp;&nbsp;

		.Layer2.Layer--newsletter
			.Box.Newsletter.
				<h2>Nyhedsbrev</h2>
				<div id="mc_embed_signup">
				<form action="http://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Få vores nyhedsbrev</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>
				</div>

		.Layer3.Layer--program
			.Box.Box--program
				//-h2 Raveonettes kommer!
				//-a(href='program.html').Button &rarr; Lineup 2013
				mixin slide(title, url, img, desc, myClass)
					.rsContent
						a(href=url)
							img.rsImg(src='images/2013/artists/#{img}.jpg', alt=title)
							//-.rsTmb
								h4 #{title}
							.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left')
								h3 #{title}
								p #{desc}

				.royalSlider.rsDefault.Slideshow
					+slide('The Raveonettes', 'program.html', 'raveonettes', 'rock rock rock')
					+slide('Veto', 'program.html', 'veto', 'veto lol')
					+slide('Ebo Taylor', 'program.html', 'ebo-taylor', 'Ghanesisk afrofunk legende')
					+slide('Fallulah', 'program.html', 'fallulah2', 'Pop')
					+slide('Den Sorte Skole', 'program.html', 'den-sorte-skole', 'ok syge djs')
					+slide('Christian Hjelm', 'program.html', 'christian-hjelm', 'flot billede, flot mand')

		.Layer4.Layer--social
			.Box
				a(href="http://facebook.com/alivefestival", target="_blank")
					img(src="images/handycons/facebook_32.png", alt="")
				| <div class="fb-like" data-href="http://facebook.com/alivefestival" data-send="true" data-width="400" data-show-faces="true"></div>

		.Layer5.Layer--tickets
			.Box.Box--tickets
				h2: a(href="billetter.html").Button Billetter!


block content
	.Box
		p yo

		| <div class="fb-like" data-href="http://facebook.com/alivefestival" data-send="true" data-width="400" data-show-faces="true"></div>

		.Newsletter.
			<h2>Nyhedsbrev</h2>
			<div id="mc_embed_signup">
			<form action="http://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Få vores nyhedsbrev</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>
			</div>

		//- .royalSlider.rsDefault.Slideshow--tabs
		//- 	.rsContent
		//- 		a(href='#')
		//- 			img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
		//- 			.rsTmb
		//- 				p Musik
		//- 			h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left')  paa Alive 2013
		//- 	.rsContent
		//- 		a(href='#')
		//- 			img.rsImg(src='images/gallery/201982_10150999582531714_1765388289_o.jpg')
		//- 			.rsTmb
		//- 				p Spilleplan
		//- 			.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='right')
		//- 				h3 Se spilleplanen
		//- 				p Hvem spiller hvor og hvornaar paa Alive Festivals tre scener
		//- 	.rsContent
		//- 		a(href='#')
		//- 			img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
		//- 			.rsTmb
		//- 				img.rsImg(src='images/gallery/278815_10150999577681714_644388252_o.jpg')
		//- 			h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left') Frivillig
		//- 	.rsContent
		//- 		a(href='#')
		//- 			img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
		//- 			.rsTmb
		//- 				img.rsImg(src='images/gallery/185191_10151004513541714_1702935780_n.jpg')
		//- 			h3.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='right') Yo

