block vars
	- var active = 'Index'
	- var bodyClass = 'page-Index'
	- var description = ""

extends views/includes/layout

block content-header
	//-#zlayer
		.Layer1
			.Box.Box--volunteer
				br
				a(href='frivillig.html').Button &nbsp;&nbsp;&nbsp;&rarr; Bliv frivllig&nbsp;&nbsp;&nbsp;
		.Layer2
			.Box.Newsletter.
				<h2>Nyhedsbrev</h2>
				<div id="mc_embed_signup">
				<form action="http://alivefestival.us1.list-manage.com/subscribe/post?u=3a2e1bf24336c9a6bf87f2fc7&amp;id=e29c6f4325" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Få vores nyhedsbrev</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<input type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>
				</div>
		.Layer3.Layer-program
			.Box.Box--program
				h2 Raveonettes kommer!
				a(href='program.html').Button &rarr; Lineup 2013
		.Layer4.Layer-social
			.Box
				p: a(href='http://facebook.com/alivefestival', target='_blank') Alive Festival på Facebook
				| <div class="fb-like" data-href="http://facebook.com/alivefestival" data-send="true" data-width="400" data-show-faces="true"></div>
		.Layer5.Layer-logo
			h1.Logo
				a(href="/")
					img(src='images/alivefestival.png', alt='')
		.Layer6.Layer-tickets
			.Box
				h2: a(href="billetter.html").Button Billetter!
					
		//-.Layer6
			.Box.Box--program
				h2 Kom til Thy! Porse Guld på fad.
				a(href='info.html').Button &rarr; Mere om Alive…

block content
	.Box
		mixin slide(title, url, img, desc, myClass)
			.rsContent
				a(href=url)
					img.rsImg(src='images/2013/artists/#{img}.jpg', alt=title)
					//-.rsTmb
						h4 #{title}
					.rsABlock(data-move-offset='5', data-delay='0', data-move-effect='left')
						h3 #{title}
						p #{desc}

		.royalSlider.rsDefault.Slideshow
			+slide('The Raveonettes', '#', 'raveonettes', 'rock rock rock')
			+slide('Veto', '#', 'veto')
			+slide('Ebo Taylor', '#', 'ebo-taylor')
			+slide('Fallulah', '#', 'fallulah2')
			+slide('Den Sorte Skole', '#', 'den-sorte-skole')
			+slide('Christian Hjelm', '#', 'christian-hjelm')