<div class="Section">
	<div class="Manchet">
		<p>Velkommen til det hemmelige…</p>
		<h1>Alive-lykkehjul!</h1>

		{{#wheel-of-fortune onSpin=(action 'refreshModel') as |item|}}
			<h3>{{item.title}}</h3>
			{{{item.content}}}
			{{#if item.better_featured_image}}
				<img src="{{item.better_featured_image.source_url}}" alt="{{item.title}}" width="400">
			{{/if}}
		{{/wheel-of-fortune}}
		{{outlet}}
	</div>
</div>