<h1>{{model.page.title}}</h1>

{{#if model.page.content}}
	{{{model.page.content}}}
{{/if}}



{{news-grid items=model.posts}}

<div class="PaddedContainer">
{{newsletter-form}}
</div>

<p>Tjek <a href="http://facebook.com/alivefestival" target="_blank">Alive Festival på Facebook</a> for mere.</p>

{{outlet}}
