<ul class="List {{if grid 'List--grid'}}">
	{{#each items as |post|}}
		<li>
			{{#link-to 'news.post' post class="MediaBlock"}}
				<figure class="MediaBlock-media">
					<img src="{{post.better_featured_image.media_details.sizes.mini.source_url}}" alt="{{post.better_featured_image.alt}}">
				</figure>
				<div class="MediaBlock-body">
					<time>{{moment-from-now post.date interval=1000}}</time>
					<h3>{{post.title}}</h3>
					<small>{{{post.excerpt}}}</small>
				</div>
			{{/link-to}}
		</li>
	{{/each}}
</ul>

{{yield}}
