<ul class="List {{if grid 'List--grid'}}">
	{{#each items as |post|}}
		<li class="Media">

			<div class="Media-body NewsHeadline">
				<time>{{moment-format post.date}}</time>
				<h3>
					{{#link-to 'program.artist' post }}
						{{post.title}}
					{{/link-to}}
				</h3>
			</div>

			<figure class="Media-figure">
				{{#link-to 'program.artist' post class="Media"}}
				<img src="{{post.better_featured_image.media_details.sizes.mini.source_url}}" alt="{{post.better_featured_image.alt}}"> {{/link-to}}
			</figure>

		</li>
	{{/each}}
</ul>

{{yield}}





