<h2 class="SectionBox-title" {{action 'toggleBody'}} style="background-image: url({{section.image.sizes.m}})">
	{{!-- {{if isOpen '↓' '↑'}} --}}
	<span class="SectionBox-arrow">→</span> {{{section.title}}}
</h2>
{{!-- <figure>
	<img src="{{section.image.sizes.mini}}" alt="">
</figure> --}}
<div class="SectionBox-body">{{{section.body}}}</div>