<h3 class="SectionBox-title" {{action 'toggleBody'}}>{{if bodyIsHidden '↓' '↑'}} {{{section.title}}}</h3>
<figure><img src="{{section.image.sizes.mini}}" alt=""></figure>
<div class="SectionBox-body">{{{section.body}}}</div>