{{#liquid-bind model class="BarAnimation" as |model|}}
	<article class="Artist">
		<div class="Artist-media">
			<img src="{{model.better_featured_image.media_details.sizes.mini-double.source_url}}"
				alt="{{model.better_featured_image.alt_text}}">
		</div>
		<div class="Artist-body Page-body">
			<p class="BackLink">{{#link-to 'music.index'}}↖ al musik{{/link-to}}</p>
			<p class="Artist-meta">
				{{#if model.acf.festival_date}}
				<strong>
					<time>
					{{moment-format model.acf.festival_date "dddd D/MM/YY"}}
					</time>
				</strong>
				{{/if}}
				{{!--
				{{#if model.acf.scene}}
				—
				<strong>{{model.acf.scene}}</strong>
				{{/if}}
			--}}
			</p>
			<h1 class="Title">{{{model.title}}}</h1>
			<div class="Artist-content">{{{model.content}}}</div>
		</div>
	</article>
{{/liquid-bind}}
