{{#liquid-bind model class="BarAnimation" as |model|}}
	<article class="Artist Manchet">
		<p class="BackLink">{{#link-to 'music.index'}}↖ tilbage{{/link-to}}</p>

		<div class="Artist-media">
			<img src="{{model.better_featured_image.media_details.sizes.mini-double.source_url}}"
				alt="{{model.better_featured_image.alt_text}}">
		</div>

		<div class="Bar-body">
			<div class="Bar-text">
				<h1 class="Bar-title">{{model.title}}</h1>
				<h3 class="Bar-subtitle">Beskrivelse</h3>
				<div class="Bar-excerpt">{{{model.content}}}</div>
			</div>
			{{!-- <div class="Bar-links">
				<a class="Bar-meta Bar-meta--single Bar-meta--website" href="{{model.acf.url}}" target="_blank">
					<i class="icon icon-website"></i>
					Website
				</a>
				<a class="Bar-meta Bar-meta--single Bar-meta--map" href="http://maps.google.com/?q={{model.acf.location.address}}" target="_blank">
					<i class="icon icon-map"></i>
					Route
				</a>
			</div> --}}
		</div>
	</article>
{{/liquid-bind}}
