<div class="fourPaddedContainer">
    {{#link-to url}}
        <h3 class="frontpage-headline-small" style="color:{{style}}">{{urltext}}</h3>
    {{/link-to}}
    <div class="image-grid">
    {{#each items as |image|}}
            {{#if image.sizes.s}}
                <img class="image-grid-image lazyload" src={{image.sizes.s}} />
            {{else}}
            {{#if image.sizes.m}}
                <img class="image-grid-image lazyload"src={{image.sizes.m}} />
                {{else}}
                <img class="image-grid-image lazyload" src={{image.sizes.l}} />
                {{/if}}
            {{/if}}
    {{/each}}
    </div>
</div>
{{yield}}
