<article class="Page Artist top-body " style="background-image:linear-gradient({{escapeCSS model.acf.top_color}} 0%, {{escapeCSS model.acf.bottom_color}} 20%) " >		<div class="Artist-body Page-body blog">
			<h2 style="color:{{escapeCSS model.acf.headline_color}}" class="Teaser-title">
				<span class="page-title">{{{model.title}}}</span>
			</h2>
				<p class="Artist-meta" style="color:{{escapeCSS model.acf.headline_color}}">
				{{#if model.date}}
				<span class="day">{{moment-format model.date "dddd D/MM/YY"}}</span>
				{{/if}}
			</p>
			{{#if model.acf.sub_headline}}
				{{{model.acf.sub_headline}}}
			{{/if}}

			{{#if model.acf.show_featured_image}}
			<div class="Artist-media">
			<img src="{{model.better_featured_image.source_url}}"
				alt="{{model.better_featured_image.alt_text}}">
			</div>
			{{/if}}
		
			<div class="page-content">
				{{{model.content}}}
				<div class="horizontal-Centering ">
						
				{{#if model.acf.headline}}
					<h2 class="frontpage-headline-small" style="color:{{escapeCSS model.acf.headline_color}}">{{{model.acf.headline}}}</h2>
				{{/if}}
				{{#if model.acf.spotify_embed}}
					<div class="spotify-embed">{{{model.acf.spotify_embed}}}</div>
				{{/if}}

				{{#if model.acf.url_1}}
				<a style="border: 1px {{model.acf.button_frame_color}} solid; color:{{escapeCSS model.acf.button_text_color}}" href="{{model.acf.url_1}}" class="Button button-border small-caption"> 
					{{model.acf.url_1_text}}
				</a>
				{{/if}}
		
           		{{#if model.acf.url_2}}
				<a style="border: 1px {{model.acf.button_frame_color}} solid; color:{{escapeCSS model.acf.button_text_color}}" href="{{model.acf.url_2}}" class="Button button-border small-caption"> 
					{{model.acf.url_2_text}}
				</a>
           		 {{/if}}
				</div>
			</div>


		
		

		</div>
	</article>