<div class="Container horizontal-Centering Padded" style="background-image:linear-gradient({{design.acf.teaser_top_color}}, {{design.acf.teaser_bottom_color}})" >
			<h2 class="frontpage-headline" style="color:{{design.acf.headline_color}}">{{design.acf.headline}}</h2>		
            {{#if design.acf.teaser_Subheadline}}
                <div class="Centering">
                <p class="frontpage-content limitedWidth" style="color:{{escapeCSS design.acf.subheadline_color}}"> {{design.acf.teaser_Subheadline}}</p>
                </div>
	        {{/if}}
            {{#if design.acf.teaser_image}}
            <img class="teaser-image lazyload" src={{design.acf.teaser_image}}/>	
            {{/if}}	
			
            {{#if design.acf.url_1}}
			<a href="{{design.acf.url_1}}" style="border: 1px {{escapeCSS design.acf.button_frame_color}} solid; color:{{escapeCSS design.acf.button_frame_color}}"class="Button button-border small-caption with-animation"> 
                  <p style="color:{{escapeCSS design.acf.button_text_color}}">{{design.acf.url_1_text}}</p>
            </a>
             {{/if}}
		
            {{#if design.acf.url_2}}
			<a href="{{design.acf.url_2}}"style="border: 1px {{design.acf.button_frame_color}} solid; color:{{escapeCSS design.acf.button_frame_color}}" class="Button button-border small-caption with-animation"> 
					<p style="color:{{escapeCSS design.acf.button_text_color}}">{{design.acf.url_2_text}}</p>
            </a>
            {{/if}}
</div>



{{yield}}