<div style="background-image:linear-gradient({{top_color}}, {{bottom_color}})" class="Aside-inner">
	
	<nav style="color:{{color}}" class="Nav">
		{{link-to 'Forside' 'index'}} 
		{{#if festival_is_on}}
		{{link-to 'Kort' 'kort'}}
		{{link-to 'Spilleplan' 'schedule'}}
		{{link-to 'Program' 'program' }}
		{{link-to 'Billetter' 'tickets'}}
		{{link-to 'Praktisk' 'practical'}}
		{{link-to 'Frivillig' 'volunteer'}}
		<small>
			{{link-to 'Transport & Overnatning' 'transport&overnatning'}}
			{{link-to 'Om Alive' 'about'}}
			{{link-to 'presse' 'presse'}}
			{{link-to 'Praktisk' 'practical'}}
			{{link-to 'Kontakt' 'about.contact'}}
			{{link-to 'English' 'english'}}
		</small>
		{{else}}
		{{link-to 'Program' 'program' }}
		{{link-to 'Billetter' 'tickets'}}
		{{link-to 'Transport & Overnatning' 'transport&overnatning'}}
		{{link-to 'Frivillig' 'volunteer'}}
		{{link-to 'Om Alive' 'about'}}
		<small>
			{{link-to 'presse' 'presse'}}
			{{link-to 'Praktisk' 'practical'}}
			{{link-to 'Samarbejdspartnere' 'partners'}}
			{{link-to 'Mere om Thy' 'about.history'}}
			{{link-to 'Nyheder' 'news'}}
			{{link-to 'Kontakt' 'about.contact'}}
			{{link-to 'English' 'english'}}
		</small>
		{{/if}}
	</nav>
	{{social-links}}
	
	{{yield}}
</div>
