<div class="Aside-inner">
	<h1 class="Logo">
		{{#link-to 'application'}}
			<img src="/assets/images/logos/logo-2017-white.png" alt="Thy Alive Festival">
			<p class="Logo-date">17-19 AUG 2017</p>
		{{/link-to}}
	</h1>
	<nav class="Nav">
		{{link-to 'Musik' 'music'}}
		{{link-to 'Sideprogram' 'adventure'}}
		{{link-to 'Nyheder' 'news'}}
		{{link-to 'Billetter' 'tickets'}}
		{{link-to 'Frivillig' 'volunteer'}}
		{{link-to 'Guide' 'guide'}}
		{{link-to 'Om Alive' 'about'}}
		<small>
			{{link-to 'Partnere' 'partners'}}
			{{link-to 'Historie' 'about.history'}}
			{{link-to 'Kontakt' 'about.contact'}}
		</small>
	</nav>
	<div class="Nav Nav--secondary">
		{{!-- {{link-to 'English' 'english'}} --}}
	</div>

	<div class="Social">
		<a href="https://facebook.com/alivefestival" target="_blank">
			<img src="/assets/images/icons/facebook-white.svg" alt="">
		</a>
		<a href="https://www.instagram.com/thyalive/" target="_blank">
			<img src="/assets/images/icons/instagram-white.svg" alt="">
		</a>
	</div>

	{{yield}}
</div>
