
<div style="background-image:linear-gradient({{top_color}}, {{bottom_color}})" class="Aside-inner">
	
	<nav style="color:{{color}}" class="Nav">
		{{#each bigLinks as |link|}}
			<a href="{{link.url}}">{{link.text}}</a>
		{{/each}}

		<small>
		{{#each smallLinks as |link|}}
			<a href="{{link.url}}">{{link.text}}</a>
		{{/each}}
		</small>

	</nav>
	{{social-links}}

	{{yield}}
</div>
