<div class="Container fourPaddedContainer" style="background-image:linear-gradient({{escapeCSS design.acf.teaser_top_color}}, {{escapeCSS design.acf.teaser_bottom_color}}); color:{{escapeCSS design.acf.text_color}}" >
    {{#if design.title}}
    <h2 class="frontpage-headline leftleaning"> {{design.acf.headline}}</h2>
     {{#if design.acf.teaser_Subheadline}}
    <p class="frontpage-content leftleaning" style="color:{{escapeCSS design.acf.subheadline_color}}"> {{design.acf.teaser_Subheadline}}</p>
    {{/if}}
  
    
    {{/if}}
    
    <div class="flex-box-toggle">
        <div class="activity-table">
             {{!-- <ul class="icons">
                {{#each design.acf.kategori_graphic_elements as |icon|}}
                <img src={{icon.sizes.s}}/>
                {{/each}}
                
            </ul> --}}
            <ul class="titles">
                {{#each activities as |activity  index|}}
                    <li class="artist-item">
                        {{#link-to 'program.artist' activity}}

                                <img src={{get (get design.acf.kategori_graphic_elements index) 'sizes.s'}}/>
                                <p>{{{activity.title}}}</p>
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul> 
        </div>
         {{#if design.acf.gallery}}

        {{#each design.acf.gallery as |image|}}
                <img class="gallery-image" src={{image.sizes.l}}/>
        {{/each}}

        {{/if}}           
    </div>
   
	<div style="border: 1px {{design.acf.button_frame_color}} solid; color:{{escapeCSS design.acf.button_frame_color}}" class="Button button-border with-animation"> 
    		{{#link-to 'program' class="small-caption button"}}
			{{design.acf.url_1_text}}
		    {{/link-to}}
            
    </div>
  
</div>

{{yield}}